<template>
  <div class="card">
    <h2>{{ post.title }}</h2>
    <p>Id: {{ post.id }}</p>
    <p>Usuario: {{ post.userid }}</p>
    <p>Contenido: {{ post.body }}</p>
  </div>
</template>
<script>
import axios from "axios";
export default {
  head() {
    return {
      title: "Detalle " + this.$route.params.id,
      meta: [
        {
          hid: "Diana",
          name: "diana 2",
          content: "Primer sitio web utilzando Nuxt.js a diana"
        }
      ]
    };
  },
  data() {
    return {
      post: {}
    };
  },
  async created() {
    debugger;
    const response = await axios.get(
      "https://jsonplaceholder.typicode.com/posts/" + this.$route.params.id
    );
    this.post = response.data;
    console.log(this.$route);
  }
};
</script>
<style scoped>
.card {
  border: 1px solid whitesmoke;
  padding: 4rem;
}
</style>
