<template>
  <!-- '/posts/' + id -->
  <!-- { path: 'register', query: { plan: 'private' }} -->
  <!-- <nuxt-link :to="'/posts/' + id + '?utm_source=web'"> -->
  <nuxt-link
    :to="{
      path: '/posts/' + cid,
      query: queryExtra
    }"
  >
    <div class="post">
      <p>{{ cid }} {{ title }}</p>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  name: "Post",
  props: ["cid", "title"],
  data() {
    return {
      queryExtra: {
        utm_source: "web",
        utm_campaign: "web",
        utm_content: "menu"
      }
    };
  }
};
</script>
<style scoped>
.post {
  padding: 1rem;
  border: 1px solid whitesmoke;
  margin: 1rem 0;
}

.post:hover {
  background: #2d3436;
  border: 1px solid #6c5ce7;
  cursor: pointer;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  color: #6c5ce7;
}
</style>
