<template>
  <div>
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, corporis
      eius esse repellendus voluptatibus, animi obcaecati saepe distinctio a
      accusamus maiores doloremque aliquam suscipit quia. Ducimus doloremque
      quis assumenda blanditiis.
    </p>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: "Aplicacion Nuxt | About",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Primer sitio web utilzando Nuxt.js"
        }
      ],
      htmlAttrs: {
        lang: "en"
      }
    };
  }
};
</script>
