<template>
  <h1>Bienvenido a mi proyecto Nuxt.js</h1>
</template>

<script>
export default {
  head() {
    return {
      title: "Aplicacion Nuxt | Home",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Primer sitio web utilzando Nuxt.js"
        }
      ],
      htmlAttrs: {
        lang: "en"
      }
    };
  }
};
</script>
