<template>
  <div>
    <Navegation />
    <div class="content">
      <Nuxt />
    </div>
  </div>
</template>
<script>
import Navegation from "../components/Navegation";
export default {
  components: {
    Navegation
  }
};
</script>
<style>
* {
  box-sizing: border-box;
  color: whitesmoke;
}
body {
  background-color: #2d3436;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0;
}
.content {
  padding: 2rem;
}
</style>
