<template>
  <div>
    <h1>Posts</h1>
    <post
      v-for="post in posts"
      :key="post.id"
      :cid="post.id"
      :title="post.title"
    ></post>
    <!-- <ul>
      <li v-for="post of posts" :key="post.id">{{ post.title }}</li>
    </ul> -->
  </div>
</template>
<script>
import axios from "axios";
import Post from "../../components/Post";
export default {
  components: {
    Post
  },
  data() {
    return {
      posts: []
    };
  },
  async created() {
    try {
      const response = await axios.get(
        "https://jsonplaceholder.typicode.com/posts"
      );
      this.posts = response.data;
      //console.log(response);
    } catch (error) {
      console.log(error);
    }
  }
};
</script>
